{% extends 'entidades/index.html' %}


{% block contenido %}
<body>
    <div class="container">
        <h1>Horarios y Actividades del Gimnasio</h1>
        
        <div class="activity">
            <h2>Yoga</h2>
            <p><i class="fas fa-clock icon"></i> Lunes, Miércoles, Viernes: 8:00 AM - 9:00 AM</p>
            <p><i class="fas fa-user icon"></i> Instructor: María García</p>
        </div>

        <div class="activity">
            <h2>Pilates</h2>
            <p><i class="fas fa-clock icon"></i> Martes, Jueves: 10:00 AM - 11:00 AM</p>
            <p><i class="fas fa-user icon"></i> Instructor: Pedro López</p>
        </div>

        <div class="activity">
            <h2>Entrenamiento Funcional</h2>
            <p><i class="fas fa-clock icon"></i> Lunes a Viernes: 6:00 PM - 7:00 PM</p>
            <p><i class="fas fa-user icon"></i> Instructor: Juan Pérez</p>
        </div>

        <div class="activity">
            <h2>Spinning</h2>
            <p><i class="fas fa-clock icon"></i> Martes, Jueves: 7:00 PM - 8:00 PM</p>
            <p><i class="fas fa-user icon"></i> Instructor: Ana Rodríguez</p>
        </div>

        <div class="activity">
            <h2>Boxeo</h2>
            <p><i class="fas fa-clock icon"></i> Lunes, Miércoles, Viernes: 5:00 PM - 6:00 PM</p>
            <p><i class="fas fa-user icon"></i> Instructor: Luis Gómez</p>
        </div>
    </div>
</body>
{% endblock contenido %}