{% extends 'entidades/index.html' %}


{% block contenido %}
<h2>Horario y Entrenamientos</h2>
<body>
    <div class="container">
        <h1>Horarios y Actividades del Gimnasio</h1>
        
        <div class="activity">
            <h2>Out door</h2>
            <p><i class="fas fa-clock icon"></i> Lunes, Miércoles, Viernes: 8:00 AM - 9:00 AM</p>
            <p><i class="fas fa-user icon"></i> Entrenamiento: Funcional</p>
        </div>

        <div class="activity">
            <h2>In/Out door</h2>
            <p><i class="fas fa-clock icon"></i> Martes, Jueves: 10:00 AM - 11:00 AM</p>
            <p><i class="fas fa-user icon"></i> Entrenamiento: Boxeo</p>
        </div>

        <div class="activity">
            <h2>In door</h2>
            <p><i class="fas fa-clock icon"></i> Lunes a Viernes: 6:00 PM - 7:00 PM</p>
            <p><i class="fas fa-user icon"></i> Entrenamiento: Pilates</p>
        </div>

        <div class="activity">
            <h2>Out door</h2>
            <p><i class="fas fa-clock icon"></i> Martes, Jueves: 7:00 PM - 8:00 PM</p>
            <p><i class="fas fa-user icon"></i> Entrenamiento: Yoga</p>
        </div>

        <div class="activity">
            <h2>Out door</h2>
            <p><i class="fas fa-clock icon"></i> Lunes, Miércoles, Viernes: 5:00 PM - 6:00 PM</p>
            <p><i class="fas fa-user icon"></i> Entrenamiento: Full body</p>
        </div>
        <div class="activity">
            <h2>In door</h2>
            <p><i class="fas fa-clock icon"></i> Lunes a Sabado: 6:00 PM - 7:00 PM</p>
            <p><i class="fas fa-user icon"></i> Entrenamiento: Sala</p>
        </div>
        <h2>In door</h2>
        <p><i class="fas fa-clock icon"></i> Lunes a Sabado: 6:00 AM - 7:00 PM</p>
        <p><i class="fas fa-user icon"></i> Entrenamiento: Spining</p>
    </div>
    </div>
</body>
    
{% endblock contenido %}